
.interSpacer
{
    padding-top: 64px !important;
}

.slogen
{
    background-color: rgba(0, 255, 0, 1);
    margin: 0;
    padding: 64px;
}

.slogen-logo
{
    height: 300px;
    border: 1px solid white;
}

.slogen-name
{
    font-size: 16pt;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
}
.slogen-detail
{
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 16px;
}

.slogen-btn
{
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
}

.part-2-container
{
    background-color: white;
    margin: 0;
    padding: 64px;
}

.circle
{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-bottom: 16px;
}

.circle-1
{
    background-color: rgb(0, 204, 255);
}

.circle-2
{
    background-color: rgb(166, 255, 0);
}

.circle-3
{
    background-color: rgb(255, 115, 0);
}

.circle-4
{
    background-color: rgb(0, 255, 115);
}

.part-3-container
{
    background-color: rgba(0, 0, 0, 0.08);
    margin: 0;
    padding: 64px;
}

.logoCircle
{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid rgb(0, 102, 255);
}

.part-4-container
{
    background-color: rgba(0, 0, 0, 0.08);
    margin: 0;
    padding: 64px;    
}